@font-face {
  font-family: Eroded; /* set name */
  src: url(fonts/ERODED\ PERSONAL\ USE.ttf); /* url of the font */
}

body {
    background-image: url("assets/background.jpg");
    background-position: center center;
    background-repeat: repeat;
}

div {
  background-color: rgba(247, 0, 255, .07);
  outline: auto;
  outline-color:  rgb(111, 0, 255);
  outline-width: 50px;
  text-align: center;
}

h1 {
 font-family: Eroded;
 font-weight:lighter
}

h2 {
  font-family: Eroded; /* use font */
  font-weight: lighter;
}

p {
  font-family: Eroded; /* use font */
}

.nowrap {
  text-wrap: nowrap;
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    /* shadow the tag and rgba(%,%,%,%) */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    background-color: #eff8fb;
}

/* custom fonts code from w3 schools https://www.w3schools.com/css/css3_fonts.asp thx */